extends layout

block content
        div
            h1 #{competitionName}
        .row
            .col-3
                div.mt-2.tooltip-my
                    button.btn.btn-primary(onclick='copyLink();', onmouseout='outFunc();') Kopiraj link na natjecanje
                        span.tooltiptext#myTooltip Kopiraj Link
        form(method="POST" action="/competitions/results/" + competitionId)
            .row

                h2.mt-3 Kola natjecanja
                table.table.table-striped-columns
                    tbody
                        each match, index in matches
                            if match.round !== currentRound
                                - currentRound = match.round
                                tr
                                    th(colspan=3)
                                        h4(class=currentRound !== 1 ? 'round-header': '') #{match.round}. Kolo:
                            tr.text-center.align-middle
                                td
                                    p #{match.competitor1_name}
                                td
                                    p VS
                                td
                                    p #{match.competitor2_name}
                                td
                                    if match.competitor1_name !== 'BYE' && match.competitor2_name !== 'BYE'
                                        select.form-select(name='outcome', onchange='changeOutcome(this, ' + index + ')')
                                            option(value='', selected=!match.outcome) Odaberi ishod
                                            option(value='draw', selected=match.outcome === 'draw') Remi
                                            option(value='competitor1', selected=match.outcome === 'competitor1') #{match.competitor1_name} je pobjedio
                                            option(value='competitor2', selected=match.outcome === 'competitor2') #{match.competitor2_name} je pobjedio
                                        input(type='hidden' id='match' + index name='matches' value=match)
                                    else
                                        p BYE
            .row
                button.btn.btn-primary.my-4.py-2(type="submit") Spremi promjene
